<div class="container">
  <h2>Gestión de Usuarios</h2>

  <form (ngSubmit)="agregarUsuario()" #form="ngForm">
    <input type="text" placeholder="Nombre" [(ngModel)]="nuevoUsuario.nombre" name="nombre" required />
    <input type="text" placeholder="Apellido" [(ngModel)]="nuevoUsuario.apellido" name="apellido" required />
    <input type="text" placeholder="Teléfono" [(ngModel)]="nuevoUsuario.telefono" name="telefono" required />
    <input type="email" placeholder="Correo" [(ngModel)]="nuevoUsuario.correo" name="correo" required />
    <button type="submit">{{ editando ? 'Actualizar' : 'Agregar' }}</button>
    <button type="button" (click)="limpiarFormulario()" *ngIf="editando">Cancelar</button>
  </form>

  <table>
    <thead>
      <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Teléfono</th>
        <th>Correo</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let usuario of usuarios">
        <td>{{ usuario.nombre }}</td>
        <td>{{ usuario.apellido }}</td>
        <td>{{ usuario.telefono }}</td>
        <td>{{ usuario.correo }}</td>
        <td>
          <button (click)="editarUsuario(usuario)">Editar</button>
          <button (click)="eliminarUsuario(usuario._id!)">Eliminar</button>
        </td>
      </tr>
      <button (click)="descargarRegistrosPDF()">Descargar PDF</button>

    </tbody>
  </table>
</div>
